.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 130px;
}
.inputWrapper input {
  padding: 2px 10px;
  max-width: 250px;
  height: 25px;
  font-size: 18px;
  outline: none;
  border: 2px solid rgb(2, 15, 199);
  border-radius: 4px;
  padding: 4px 10px;
}
