.appbar {
  padding: 15px;
  background-color: rgb(189 189 189);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 2px solid rgb(131, 131, 131);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
